@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
}
p {
  font-size: 18px;
  font-weight: medium;
}

h1 {
  font-size: 64px;
  font-weight: 900;
  color: #ffffff;
  text-align: center;
  width: 320px;
}

.date {
  font-size: 28px;
  color: #ffffff;
  text-align: center;
  width: 320px;
}

.line {
  width: 320px;
  height: 5px;
  background-color: #ffffff;
}

body {
  margin: auto;
  width: 100%;
}

header {
  background: linear-gradient(to bottom, #2bc0e4, #c1ecf7, #ffffff);
}

.head {
  background-image: url(./images/head.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1400px;
  margin: auto;
}

a {
  text-decoration: none;
  color: #122836;
}

.hamburger {
  display: none;
  cursor: pointer;
  padding: 2%;
}

.hamburger__icons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.hamburger__icons span {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #34618e;
  border-radius: 2px;
}

.hamburger__menu {
  top: 0;
  list-style: none;
  margin: auto;
  display: none;
  position: relative;
  background-color: #fff;
  width: 360px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 11;
}

.hamburger__menu.active {
  display: block;
  top: 0;
}

.icon_close {
  margin: 20px 20px 20px 320px;
  padding: 0;
  cursor: pointer;
}

.hamburger__menu_nav {
  display: flex;
  flex-wrap: wrap;
  width: 71px;
  height: auto;
  gap: 30px;
  font-family: Cormorant;
  font-size: 24px;
  font-weight: 400;
  line-height: 29.06px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-align: center;
  margin: auto;
}

.hamburger__menu_nav a {
  text-align: center;
  width: 71px;
}

.hamburger__menu_line {
  background: #f7f2ea;
  width: 300px;
  height: 2px;
  margin: auto;
  margin-top: 60px;
}

.hamburger__menu_textfooter {
  width: 127px;
  height: 124px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
  margin: auto;
  margin-top: 60px;
}

.hamburger__menu_textfooter a {
  font-family: Open Sans;
  font-size: 13px;
  font-weight: 300;
  line-height: 17.7px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  width: 100%;
}

.hamburger__menu_platefooter {
  width: 100%;
  height: 60px;
  background-color: #f7f2ea;
  left: 0;
  bottom: 0;
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hamburger__menu_footer {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.overlay.active {
  display: block;
}

menu {
  max-width: 1160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: auto;
}

.menu {
  display: flex;
  align-items: center;
  gap: 40px;
}

.text_header {
  margin-left: 49%;
  margin-top: 219px;
  padding-bottom: 293px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.green_line {
  width: 160px;
  height: 3px;
  background-color: #00ab6c;
  margin: 11px 0;
}

.about {
  padding: 0 10px;
  max-width: 1190px;
  margin: auto;
}

.about p {
  max-width: 1034px;
}

.about img {
  padding: 20px 0;
}

section {
  max-width: 1190px;
  padding: 50px 10px 10px;
  margin: auto;
}

h2 {
  font-size: 40px;
  font-weight: 700;
  padding-left: 30px;
  margin-bottom: 40px;
}

#media h2 {
  margin: 0;
}

#media p {
  max-width: 558px;
  padding-left: 30px;
}

.cards {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-top: 40px;
}

.bg_earth {
  background-image: url(./images/Earth_.svg);
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  margin: auto;
}

.advertising {
  background-color: #f3f3f3;
  padding: 29px;
}

.long_line_green {
  max-width: 1130px;
  background-color: #00ab6c;
  height: 2px;
  /* margin-top: 40px; */
  margin-left: 29px;
}

.ad_mir24 {
  display: flex;
  max-width: 232px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

.number {
  width: 220px;
  font-size: 50px;
  font-weight: 700;
  background: linear-gradient(90deg, #1fa2ff, #12d8fa, #00ab6c);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  margin: 0;
}

.number_time {
  width: 600px;
  font-size: 50px;
  font-weight: 700;
  line-height: 1, 5;
  background: linear-gradient(90deg, #1fa2ff, #12d8fa, #00ab6c);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.table {
  display: flex;
  justify-content: space-between;
  margin-left: 70px;
  flex-wrap: wrap;
}

.one_column div {
  margin-top: 40px;
}

.two_column {
  justify-items: end;
  margin-top: 80px;
}

.two_column img {
  margin-left: 75px;
}

.statistic {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-left: 70px;
}

.statistic div {
  justify-items: center;
  margin-top: 75px;
}

.ad_socmedia {
  display: flex;
  max-width: 250px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.long_line_green_in {
  max-width: 1130px;
  background-color: #00ab6c;
  height: 2px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.table_sub {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.table_sub h3 {
  margin-left: 70px;
  margin-bottom: 34px;
}

.strok_gradient {
  display: flex;
  align-items: center;
  max-width: 555px;
  height: 50px;
  justify-content: space-between;
  background: linear-gradient(-90deg, #c2e59c, #64b3f4);
  padding: 4px 16px;
  margin-left: 66px;
}

.strok {
  display: flex;
  align-items: center;
  max-width: 555px;
  height: 50px;
  justify-content: space-between;
  padding: 4px 16px;
  margin-left: 66px;
}

.name_socmrdia {
  display: flex;
  align-items: center;
  gap: 14px;
  width: 260px;
}

.vert_line {
  height: 50px;
  width: 1px;
  background-color: #ffffff;
}

.table_sub p {
  font-size: 24px;
}

.sub_number {
  width: 189px;
  text-align: right;
}

.sub_two_column {
  margin-left: 70px;
  margin-top: 40px;
}

.sub_two_column p {
  font-size: 18px;
  width: 315px;
}

.footnote {
  font-size: 14px;
  margin: 20px 0 0 70px;
}

.advantage {
  display: flex;
  justify-content: space-between;
  gap: 55px;
}

.note {
  margin-top: 5px;
}

.advatage_1 {
  display: grid;
  grid-template-rows: 203px 430px 1fr;
  grid-template-columns: 500px;
}

.advatage_1 > *:nth-child(1) {
  justify-self: start;
}

.advatage_1 > *:nth-child(2) {
  justify-self: end;
}
.advatage_1 > *:nth-child(3) {
  justify-self: end;
  text-align: end;
}

.advatage_2 {
  margin-top: 290px;
}

.advatage_3 {
  display: grid;
  grid-template-rows: 345px 180px 380px 120px;
  grid-template-columns: 450px;
}

.advatage_3 > *:nth-child(1) {
  justify-self: center;
}

.contact div {
  max-width: 560px;
  justify-self: end;
}

.mail {
  font-size: 22px;
  font-weight: 500;
  color: #1383c6;
}

address {
  font-style: normal;
  font-weight: 500;
  margin-top: 20px;
}
.bold {
  margin: 20px 0;
  padding: 0;
  font-weight: 800;
}

.long_black_line {
  max-width: 1190px;
  height: 1px;
  background-color: #282828;
  margin: auto;
  margin-top: 100px;
}

.menu_footer {
  display: flex;
  gap: 40px;
}

.copy {
  font-size: 10px;
  font-weight: 300;
  color: #282828;
  justify-self: end;
  padding: 0 20px 20px;
}

footer {
  max-width: 1190px;
  margin: auto;
}

.bg_earth_down {
  background: url(./images/Earth_down.svg) no-repeat,
    linear-gradient(to bottom, transparent 40%, #ffffff, #c1ecf7, #2bc0e4);
  background-position: 0 70%, 0 100%;
  background-size: 100% 50%, cover;
  background-repeat: no-repeat;
}

.advantage_mobile {
  display: none;
}

.two_column_mob {
  display: none;
}

@media (max-width: 1180px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media (max-width: 768px) {
  /* Адаптация под формат 768px */

  .menu {
    display: none;
  }

  .hamburger {
    display: block;
    text-align: start;
  }

  .long_line_green {
    margin: 0 29px;
  }

  .text_header {
    margin-left: 40%;
    margin-top: 120px;
    padding-bottom: 200px;
  }

  .head {
    background-position: top;
    background-size: 150%;
  }

  .advantage {
    display: none;
  }

  .advatage_1 {
    display: block;
  }

  .advantage_mobile {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 40px;
  }

  .advantage_mobile_img {
    margin: auto;
  }

  .advantage_mobile_info {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 40px 20px 0 20px;
  }

  .advantage_mobile_info img {
    margin-top: 10px;
  }

  #one {
    margin-bottom: 175px;
  }

  #two {
    margin-bottom: 120px;
  }

  .contact div {
    justify-self: left;
    padding-left: 30px;
  }

  menu {
    align-items: start;
    padding: 40px;
  }

  .menu_footer {
    flex-direction: column;
  }
}

@media (max-width: 360px) {
  .great_logo {
   max-height: 39px;
  }

  h1 {
    font-size: 22px;
    width: 110px;
  }

  .line {
    width: 110px;
    height: 2px;
  }

  .date {
    width: 110px;
    font-size: 12px;
  }

  .text_header {
margin-left: 50%;
margin-top: 10px;
padding-bottom: 75px;
  }

  .green_line {
    width: 100%;
    margin: 11px auto;
  }

  p {
    font-size: 16px;
  }

  .about img {
    width: 100%;
  }

  section {
    padding: 15px 0 0;
  }

  h2 {
    font-size: 32px;
    line-height: 40px;
    padding-left: 10px;
    margin: 0 0 15px;
  }

  #media p {
    padding-left: 10px;
  }

  .card {
    width: 310px;
    height: auto;
  }

  .bg_earth {
    background-size: 170%;
  }

  #site {
    width: 39px;
  }

.ad_mir24 {
  width: 184px;
  margin-bottom: 0px;
}

  .ad_mir24 img {
    width: 128px;
  }

  #advertising {
    padding: 35px 0px 0;
  }

  #advertising h2 {
    margin-bottom: 15px;
  }

  .long_line_green {
    margin: 0px 10px 0;
  }

  .advertising {
    padding: 20px;
  
  }

.table {
  margin: 0;
}

h3 {
  font-size: 20px;
  line-height: 40px;
}

.number {
  font-size: 42px;
}

.one_column div {
margin-top: 20px;
}

.two_column {
  display: none;
}

.two_column_mob {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  justify-items: left;
}

.two_column_mob img {
  margin-left: 0px;
  max-width: 320px;
  height: auto;
  margin-top: 10px;
}

.number_time {
  font-size: 42px;
  line-height: 50px;
}

.statistic {
  margin: 0;
display: flex;
flex-wrap: wrap;
justify-content: center;
}

.statistic div {
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.statistic img {
  height: 170px;
}

.long_line_green_in {
  margin: 15px 0px;
}

#socnet {
  width: 39px;
}
.ad_socmedia {
  width: 226px;
  margin-bottom: 0px;
}

  .ad_socmedia img {
    width: 175px;
  }

  .table_sub {
    margin-top: 10px;
  }

  .name_socmrdia {
    width: 167px;
    gap: 9px;
  }

  .table_sub h3 {
    margin: 0;
  }

  .table_sub p {
    font-size: 16px;
  }

  .table_sub img {
    width: 27px;
    height: auto;
  }

  .strok_gradient {
    height: 35px;
    margin: 0;
    width: 280px;
  }

   .strok {
    height: 35px;
    margin: 0;
    width: 280px;
  }

  .sub_number {
    width: 107px;
    text-align: left;
    padding: 10px;
  }

  .sub_two_column {
    margin: 0;
  }

  .sub_two_column img {
    width: 320px;
    height: auto;
    margin-top: 10px;
  }

  .footnote {
    font-size: 10px;
    margin: 10px 0;
  }

  .advantage_mobile_info .number_time {
    font-size: 32px;
    line-height: 40px;
    width: 270px;
  }

  .advantage_mobile_info img {
    width: auto;
    height: 404px;
    margin-right: 10px;
  }

  .advantage_moble_text {
    width: 275px;
  }

  #one {
    margin-bottom: 90px;
  }

  #two {
    margin-bottom: 80px;
  }

  .contact div {
    padding: 0 10px;
  }

  .contact h2 {
    margin: 10px 0;
  }

  .address {
    font-size: 14px;
  }

  .long_black_line {
    margin-top: 40px;
  }

  .menu_footer {
    display: none;
  }

  footer img {
    width: 65px;
    height: auto;
  }

 footer menu {
    padding: 20px 10px 0;
  }
}